{% extends 'shop/basic.html' %}

{% block title%} Title of Index{% endblock %}
{% block css%}

{% endblock %}
{% block body %}
<div class="container my-3">
{% for Products , range in allprods %}
<h2 style="color:black" class="my-4 text-center">{{Products.0.category}}</h2>
  <div class="row my-2 justify-content-center">
    {% for i in Products %}
    <div class="col-md-3 mx-4">
      <div class="card" style="width: 20rem; height: 30rem;">
        <img src="/media/{{i.image}}" height="250" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.product_name}}</h5>
          <h5 class="card-text">Price</h4>
          <p class="card-text">{{i.desc|slice:"0:30"}}...</p>
          <span id="divpr{{i.id}}" class="divpr">
          <button href="#" id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button></span>
          <a href="/shop/product/{{i.id}}"> <button id="qv{{i.id}}" class="btn btn-primary cart">Quick View</button></a>
        </div>
      </div>
      
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block js%}
<script>
  if(localStorage.getItem('cart') == null){
    var cart = {};
  }else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length; 
    updateCart(cart);
  }
  $('.cart').click(function(){
// console.log("clicked");
var idstr = this.id.toString();
// console.log(idstr);
if(cart[idstr] != undefined){
  cart[idstr] = cart[idstr] + 1;
}else{
  cart[idstr] = 1;
}
updateCart(cart);
console.log(cart);
localStorage.setItem('cart',JSON.stringify(cart))
document.getElementById('cart').innerHTML = Object.keys(cart).length;
  })
 
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

function updateCart(cart){
  for(var item in cart){
    document.getElementById('div'+item).innerHTML = "<button id='minus" + item + "'class='btn btn-primary minus'>-</button> <span id='val" + item + "''>"+ cart[item]+ "</span> <button id='plus" + item + "'class='btn btn-primary plus'>+</button>"

  }
}

$('.divpr').on("click" , "button.minus",function(){
  console.log("minus");
  a = this.id.slice(7, );
  console.log(a); 
  cart['pr'+a] = cart['pr'+a] - 1;
  cart['pr'+a]=Math.max(0,cart['pr'+a]);
  document.getElementById('valpr'+ a).innerHTML = cart['pr'+a];
  updateCart(cart);
})
$('.divpr').on("click" , "button.plus",function(){
  console.log("plus");
  a = this.id.slice(6, );
  console.log(a); 
  cart['pr'+a] = cart['pr'+a] + 1;
  document.getElementById('valpr'+ a).innerHTML = cart['pr'+a];
  updateCart(cart);
})
</script>

{% endblock%}